@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./imgs/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}